body {
    text-align: center;
}

#logo {
    width: 320px;
}

#cupcakes {
    width: 420px;
    border-radius: 30px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	transform: rotate(4deg) translateZ(0);
}

.emails {
    color: #333;
    font-weight: bold;
}